body{
    font-size: 35px;
    font-family: Arial, serif;
    text-align: center;
}
h1{
    text-align: right;
}

form{
    text-align: right;
    background-color: beige;
    padding: 15px;
}

legend{
    text-align: right;
}
#website{
    text-align: center;
}

div{
    padding: 15px;
}

input{
    padding: 10px 88px;
}

#send{
    padding: 10px 20px 10px 20px;
}

textarea{
    padding: 30px;
}

audio{
    width: 330px;

}